---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<center><a href="#online">Online Courses</a> – <a href="#ucsd">UC San Diego</a></center>

{% include base_path %}

<h2 id="online">Online Courses</h2>
{% assign online_courses = site.teaching | where: 'location', 'online' | sort: 'startdate' %}
<ul>{% for post in online_courses reversed %}
  <li>
    {% assign tmp = post.title %}
    {% if post.coursenum %}
      {% assign tmp = post.coursenum | append: ': ' | append: tmp %}
    {% endif %}
    {% if post.courseurl %}
      {% assign tmp = '<a href="' | append: post.courseurl | append: '" target="_blank">' | append: tmp | append: '</a>' %}
    {% endif %}
    <b>{{ tmp }}</b>
    <ul style="font-size:0.75em">
      {% if post.instructors %}
        <li><u>Instructors</u>: {{ post.instructors }}</li>
      {% endif %}
      <li><u>Duration</u>: {{ post.startdate }} to {{ post.enddate }}</li>
    </ul>
  </li>
{% endfor %}</ul>

<center>— <a href="#top">Top</a> —</center>

<h2 id="UCSD">UC San Diego</h2>
{% assign ucsd_courses = site.teaching | where: 'location', 'ucsd' | sort: 'coursenum' %}
<ul>{% for post in ucsd_courses %}
  <li>
    {% assign tmp = post.coursenum | replace '-', ' ' | append: ': ' | append: post.title %}
    {% if post.courseurl %}
      {% assign tmp = '<a href="' | append: post.courseurl | append: '" target="_blank">' | append: tmp | append: '</a>' %}
    {% endif %}
    <b>{{ tmp }}</b>
    <ul style="font-size:0.75em">
      <li><u>Quarters</u>: {{ post.quarters }}</li>
    </ul>
  </li>
{% endfor %}</ul>

<center>— <a href="#top">Top</a> —</center>
