---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<center><a href="#textbooks">Textbooks</a> – <a href="#online">Online Courses</a> – <a href="#ucsd">UC San Diego</a></center>

<p style="font-size:0.9em">You can find all of my teaching evaluations in this <a href="https://drive.google.com/drive/folders/1ZCA96Q9h-okc3phkJq-fK9s3W_cdt00M?usp=sharing" target="_blank">Google Drive folder</a>.</p>

{% include base_path %}

<h2 id="textbooks">Textbooks</h2>
<ul>{% for post in site.publications reversed %}
  {% if post.pubtype == 'textbook' %}
    {% include archive-single-cv.html %}
  {% endif %}
{% endfor %}</ul>

<center>— <a href="#top">Top</a> —</center>

<h2 id="online">Online Courses</h2>
{% assign online_courses = site.teaching | where: 'location', 'online' | sort_natural: 'startdate' %}
<ul>{% for post in online_courses reversed %}
  <li>
    {% assign tmp = post.title %}
    {% if post.coursenum %}
      {% assign tmp = post.coursenum | append: ': ' | append: tmp %}
    {% endif %}
    {% assign tmp = '<a style="text-decoration:underline" href="' | append: post.courseurl | append: '" target="_blank">' | append: tmp | append: '</a>' %}
    <b>{{ tmp }}</b>
    <ul style="font-size:0.75em">
      {% if post.instructors %}
        <li><u>Instructors</u>: {{ post.instructors }}</li>
      {% endif %}
      <li><u>Duration</u>: {{ post.startdate }} to {{ post.enddate }}</li>
    </ul>
  </li>
{% endfor %}</ul>

<center>— <a href="#top">Top</a> —</center>

<h2 id="ucsd">UC San Diego</h2>
{% assign ucsd_courses = site.teaching | where: 'location', 'ucsd' | sort_natural: 'coursenum' %}
<ul>{% for post in ucsd_courses %}
  <li>
    {% assign tmp = '' %}
    {% if post.coursenum %}
      {% assign coursenum_split = post.coursenum | split: ' ' %}
      {% assign coursenum_numstrip = coursenum_split[1] | prepend: '!' | replace: '!00', '!' | replace: '!0', '!' | remove: '!' %}
      {% assign tmp = coursenum_split[0] | append: ' ' | append: coursenum_numstrip | append: ': ' | append: post.title | replace: ' : ', ': ' %}
    {% endif %}
    {% assign tmp = '<a style="text-decoration:underline" href="' | append: post.courseurl | append: '" target="_blank">' | append: tmp | append: '</a>' %}
    <b>{{ tmp }}</b>
    <ul style="font-size:0.75em">
      <li><u>Quarters</u>: {{ post.quarters }}</li>
    </ul>
  </li>
{% endfor %}</ul>

<center>— <a href="#top">Top</a> —</center>
